@{
    Layout = null;
}
@model SignInViewModel
<!DOCTYPE html>
<html>
<head>
    <title>SignIn</title>
    <link href="../Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="v_centered_content" style="display: table;">
        <div style="text-align: center;">
            <form action="" method="post" style="display: inline-block;">
                <fieldset>
                    <legend>Prijava na sistem</legend>
                    @Html.ValidationSummary()
                    <ul>
                        <li>
                            <label>Korisnicko ime:</label>
                            <input type="text" name="UserName" value="@(Model.UserName)" />
                        </li>
                        <li>
                            <label>Lozinka:</label>
                            <input type="password" name="Password" value="" />
                        </li>
                    </ul>
                    <input type="submit" />
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>
