html, body, .v_centered_content
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.v_centered_content
{
    display: table;
}

.v_centered_content > *
{
    display: table-cell;
    vertical-align: middle;
}

body
{
    font-size: .85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section
{
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* my css */
.content
{
    width: 960px;
    margin: 0 auto;
}

form
{
    text-align: left;
}

form ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

form ul li
{
    margin: 0;
    margin-bottom: 10px;
}

form ul li label
{
    display: block;
    float: left;
    width: 150px;
    line-height: 26px;
    text-align: right;
}

form ul li input
{
    width: 150px;
}

form input[type=submit]
{
    /*margin-left: 150px;*/
}

.head_bar
{
    border-bottom: 1px solid Gray;
}

a
{
    color: Blue;
    background-color: transparent;
}

a:hover
{
    background-color: Blue;
    color: White;
}

.employee > .name
{
    float: left;
    width: 160px;
}

.employee
{
    border-bottom: 1px solid Gray;
    padding: 2px 0;
}

.employee > .hour_logs
{
    float: left; /*width: 700px;*/
}

.hours
{
    padding: 0.5em;
    margin: 0;
}

.hours > span
{
    padding: 0.5em 1em;
    font-weight: bold;
    border: 1px solid Gray;
    width: 35px;
    text-align: center;
    display: block;
}

.hours > span.sum
{
    float: left;
    width: 103px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #afa;
    color: Black;
}

.hours > span.night
{
    float: left;
    margin-left: 5px;
    background-color: Black;
    color: White;
}

.hours > span.day
{
    float: right;
    margin-left: 5px;
    background-color: White;
    color: Black;
}

.ui-datepicker
{
    z-index: 3 !important;
}

.total
{
    position: fixed;
    bottom: 0px;
    background-color: #ccc;
    z-index: 3;
}

.total .title
{
    float: left;
    padding: 1em 1em;
    font-weight: bold;
}

.odd
{
    background-color: #eee;
}

.employee[workday=true]
{
    /*background-color: #eee;*/
}

.employee[workday=false]
{
    background-color: #eee;
}

.clear
{
    clear: both;
}